.golf-content {
  flex: 1;
  position: relative;
  background: #fff;
  border-top-left-radius: golf-border(radius);
  border-top-right-radius: golf-border(radius);
  padding: golf-spacing(sm);
  padding-bottom: 85px;
  &__action {
    border: none;
    outline: none;
    box-shadow: none;
    position: fixed;
    border-radius: 50%;
    width: 56px;
    text-align: center;
    color: #fff;
    bottom: golf-spacing(sm);
    right: golf-spacing(lg);
    background: golf-color(primary);
    padding: golf-spacing(sm);
    &:hover {
      color: #fff;
      text-decoration: none;
      background: golf-color(primary, 600);
    }
  }
}