<div class="golf-navbar">
  <%= link_to rounds_path, :class => 'golf-navbar__action' do %>
    <i class="fas fa-arrow-left"></i>
  <% end %>
  <div class="golf-navbar__body">
    <%= link_to current_user.email, edit_user_registration_path, :class => 'golf-navbar__user' %>
    <h2 class="golf-navbar__stat"><%= @handicamp %></h2>
  </div>
</div>
<div class="golf-content">
  <h2>New Round</h2>
  <%= render 'form', round: @round %>
</div>