<div class="golf-navbar">
  <div class="golf-navbar__branding">
    <%= link_to rounds_path, :class => 'golf-navbar__action' do %>
      <i class="fas fa-arrow-left"></i>
    <% end %>
    <%= image_tag("titleist.png", class: "golf-navbar__logo") %>
  </div>
  <div class="golf-navbar__body">
    <%= link_to current_user.email, edit_user_registration_path, :class => 'golf-navbar__user' %>
  </div>
</div>
<div class="golf-content">
  <h2>New Round</h2>
  <%= render 'form', round: @round %>
</div>